body { 
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #888;
  background-color: #f5f8f5;
}

h2 {
  margin-top: 2em;
  padding-top: 2em;
}

h1, h2, strong {
  color: #888;
}
