body { 
  margin: 5 auto;
  max-width: 10em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 5em 3em;
  color: #bbb;
  background-color: #a4a1c3;
}

h2 {
  margin-top: 7em;
  padding-top: 7em;
}

h1, h5, strong {
  color: #ddd;
}
