body { 
  margin: 5 auto;
  max-width: 10em;
  font-family: "Helvetica", "Pragmatica", sans-serif;
  line-height: 1.5;
  padding: 5em 3em;
  color: #666;
  background-color: #FFFFFF;
}

h2 {
  margin-top: 2em;
  padding-top: 6em;
}

h1, h5, strong {
  color: #333;
}
